S3method(summary,pRRopheticCv)
export(calcPhenotype)
export(classifySamples)
export(estimateCI.pRRopheticCv)
export(estimateMeanPredictionError.pRRopheticCv)
export(estimateMedianPredictionError.pRRopheticCv)
export(estimateRsqr.pRRopheticCv)
export(homogenizeData)
export(pRRopheticCV)
export(pRRopheticLogisticPredict)
export(pRRopheticPredict)
export(pRRopheticQQplot)
export(plot.pRRopheticCv)
export(predictionAccuracyByCv)
export(summarizeGenesByMean)
import(car)
import(genefilter)
import(preprocessCore)
import(ridge)
import(sva)
